      body {
        text-align: center;
        background-color: rgb(162, 139, 139);
      }

      fieldset{
        border-radius: 10px;
        padding: 3px;
        max-width: 450px;
        margin: 0 auto 12px auto;
        box-sizing: border-box;
      }

      input{
        border: 2px solid #ddd;
        border-radius: 5px;
        background: #eee;
        padding: 2px;
      }

      select {
        border: 2px solid #ddd;
        border-radius: 5px;
        background: #eee;
        padding: 2px;
        transition: 0.4s;
      }

      select:hover,
      select:focus{
        background: rgb(117, 180, 232);
        color: white;
      }

      button {
        padding: 5px;
        border: 2px solid #ddd;
        background: #eee;
        border-radius: 5px;
        cursor: pointer;
      }

      button:hover,
      button:focus {
        background: rgb(117, 180, 232);
        color: white;
      }